<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.dark.new_test_job"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.CAMERA"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".alram_button"
            android:label="@string/alarm_button"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".qr.newqr"
            android:label="@string/app_QR"
            android:icon="@drawable/qr_m"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity_1"
            android:label="@string/about_title_1">
        </activity>



        <activity android:name=".activity_2"
            android:label="@string/about_title_2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".activity_3"
            android:label="@string/replication"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".other.SongAlarmActivity"
            android:label="@string/about_title_1">
        </activity>
        <activity android:name=".Admin_pass"
            android:label="@string/about_Admin_pass">
        </activity>
        <activity
            android:name=".phone_info.PhoneInfoActivity"
            android:label="@string/phone_info" >
        </activity>

        <activity
            android:name=".qr.QKActivity"
            android:label="@string/qr"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".qr.ResultActivity"
            android:label="@string/phone_info" >
        </activity>



        <activity
            android:name=".phone_info.GpsTreker"
            android:label="@string/gps"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

        <activity
            android:name=".alarm.test"
            android:label="@string/myalarm"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".alarm.test_db"
            android:label="@string/myalarm">
        </activity>

        <activity
            android:name=".alarm.test_db_number"
            android:label="@string/list_number">
        </activity>


        <activity
            android:name=".alarm.test_db_sys"
            android:label="@string/sys">

        </activity>

        <activity
            android:name=".qr.test_db_qr"
            android:label="@string/dic_qr">
        </activity>

        <activity
            android:name=".other.test_db_admin"
            android:label="@string/nav_pass">
        </activity>


        <activity
            android:name=".alarm.test_db_number_test"
            android:label="@string/list_number"
            android:theme="@style/Theme.AppCompat">


        </activity>

        <activity
            android:name=".alarm.database.UserActivity"
            android:label="@string/myalarm"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".alarm.database.UserActivity_sys"
            android:label="@string/sys"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".alarm.database.UserActivity_number"
            android:label="@string/l_number"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".other.UserActivity_sys_Admin"
            android:label="@string/nav_pass"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".alarm.AlarmActivity"
            android:label="@string/myalarm"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".other.Update"
            android:label="@string/update"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".alarm.preferences.AlarmPreferencesActivity"
            android:label="@string/myalarm"
            android:parentActivityName=".alarm.AlarmActivity"
            android:theme="@style/AppTheme">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".alarm.AlarmActivity" />
        </activity>

        <service
            android:process=".serviceProcess"
            android:name=".alarm.service.AlarmService"
            android:icon="@mipmap/logo"
            android:label="@string/myalarm"
            android:theme="@style/AppTheme">
        </service>
        <receiver android:name=".alarm.service.AlarmServiceBroadcastReciever" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



        <service
            android:process=".GPSTracker_new"
            android:name=".phone_info.GPSTracker_new"
            android:icon="@mipmap/logo"
            android:enabled="true"
            android:exported="true" >
        </service>
        <!--<receiver android:name=".phone_info.BootBroadcast" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name = ".alarm.alert.AlarmAlertActivity"
            android:label="@string/myalarm"
            android:theme="@style/AppTheme">

        </activity>
        <receiver android:name=".alarm.alert.AlarmAlertBroadcastReciever" >
        </receiver>
        <receiver android:name = ".alarm.telephony.PhoneStateChangedBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name = ".alarm.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:icon="@mipmap/logo" />
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <receiver android:name=".phone_info.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".phone_info.PhoneStateReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PHONE_STATE"/>-->
                <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<provider-->
            <!--android:name=".sqlite.SQLiteContentProvider"-->
            <!--android:authorities="com.elegion.newsfeed"-->
            <!--android:exported="false"-->
            <!--android:syncable="true" />-->

        <!--<service-->
            <!--android:name=".account.AuthenticatorService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accounts.AccountAuthenticator" />-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.accounts.AccountAuthenticator"-->
                <!--android:resource="@xml/authenticator" />-->
        <!--</service>-->

        <activity
            android:name=".other.SyncSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/general_settings"
            android:screenOrientation="portrait" />

        <service
            android:name=".other.sync.SyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>


    </application>

</manifest>
